<div class="text-center">
  <h1>Create a new Entry: </h1>
    <br />  
    <br />
    <form action="/entries" method="post">
      Title: <input type="text" name="title" autofocus> <br />
      Location: <input type="text" name="location"> <br />
      Date: <input type="text" name="date"> <br />
      Description: <input type="text" name="description"> <br />
      <input type="submit" value="Create Entry"> <br />
    </form>
</div>
