<div class="text-center">
    <h2><%= @user.username %>'s Page</h2>

    <h3>Email: </h3>
    <h4><%= @user.email %></h4>

    <% @user.entries.each do |entry| %>
    <a href="/entries/<%= entry.id %>"><h3><%= entry.name %></h3></a>
    <% end %>

</div>

