<div class="text-center">
   
    <h2><%="#{@user.username}" %>'s Page</h2>

    <h3>Email: </h3>
    <h4><%= @user.email %></h4>

    <% @user.entries.each do |entry| %>
        <h3><a href="/entries/<%= entry.id %>"><%= entry.title %></a></h3>
    <% end %>
     <%# binding.pry %>

</div>

