 <div class="text-center">
  <h1>Add a New Volunteer Log</h1>
   <br />
    <form action="/logs" method="POST">
      <label> Log Title </label>
      <input type="text" name="title"> </br>

      <input type="submit" value="submit">

      <a href="/entries/new">Add Entry </a>
      
    </form>
  </div>
