



<!DOCTYPE html>
  <head>
    <title>Volunteer App</title>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
  <nav style="background:grey;height:100px;">
   </nav>

  <div class="error">
    <% if flash[:failure] %>
      <div id="flash" class="alert alert-danger text-center" >
        <%= flash[:failure] %>
      </div>
    <% end %>
    <% if flash[:success] %>
      <div id="flash" class="alert alert-success text-center">
        <%= flash[:success] %>
      </div>
    <% end %>
    <%= yield %>

   
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
    

      <footer class="branding">
        <div class="text-center">
          <small>&copy; 2018 <strong>VolunteerApp</strong></small>
        </div>
      </footer> 
    </body>
  </div>


<style>
.footer {
    color: #333;
    font-size: 11px;
    text-align: center;
    vertical-align: bottom;
    margin-top: 120px;
}
</style>

</html>